@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');
.inter-font{
  font-family: 'Inter', sans-serif;
}
.promtp-font{
  font-family: 'Prompt', sans-serif;
}
*{
  font-family: 'Prompt', sans-serif;
}
.vl {
    border-right: 2px solid #C4C4C4;
    height: 130%;
    left: 100%;
    top: -15%;
    z-index: 1;
}
.dot {
  top: 25%;
  left: 70%;
  z-index: 2;
  height: 25px;
  width: 25px;
  background-color: #C4C4C4;
  border-radius: 50%;
  display: inline-block;
}